* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cursor {
  height: 50px;
  width: 50px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  transition: all linear 0.1s;
}

h1 {
  font-size: 20vw;
}
